Checks: "*,
-abseil-*,
-altera-*,
-android-*,
-fuchsia-*,
-google-*,
-llvm*,
-modernize-use-trailing-return-type,
-zircon-*,
-hicpp-*,
-concurrency-*,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-avoid-const-params-in-decls,
-readability-uppercase-literal-suffix,
-readability-braces-around-statements,
-readability-isolate-declaration,
"
